<div id="section-contact" class="section section-contact graphene-spacer-150 col-10 offset-1 col-xl-6 offset-xl-3 row no-gutters">
    <div class="col-12 row no-gutters mt-5">

        <div class="contact-title graphene-spacer-50 col-12 col-lg-10 offset-lg-1 graphene-blue">Contact us</div>
        <div class="contact-details col-12 col-lg-4 offset-lg-1 mb-4 mb-lg-0">
            <div>Interested in supporting Gramine? <br />
                <br />
                Contact us at :</div>
                <a href="mailto:users@gramineproject.io">users@gramineproject.io</a>
        </div>
        <div class="contact-details col-12 col-lg-4 offset-lg-2 mt-4 mt-lg-0">
            <div>Did you find some issues to fix? <br />
                <br />
                Report them at :</div>
                <a href="https://github.com/gramineproject/gramine/issues" target="_blank" class="wordwrap">github/gramineproject/gramine/issues</a>
        </div>
    </div>
</div>

<div class="section section-footer col-10 offset-1 col-xl-6 offset-xl-3 graphene-spacer-100 row no-gutters">
    <div class="section-sitemap col-12 col-lg-6 offset-lg-1 mb-5 mb-lg-0 row no-gutters">

        <div class="title  mb-4 col-12">SITE MAP</div>
        <div class="col-6 col-xl-5">
            <ul>
                <li>
                    <a href="index.html" target="">
                        HOME                        </a>
                </li>
                <li>
                    <a href="resources" target="">
                        RESOURCES                        </a>
                </li>
                <li>
                    <a href="maintainers" target="">
                        MAINTAINERS                        </a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-xl-5">
            <ul>
                <li>
                    <a href="https://github.com/gramineproject" target="_blank">
                        GITHUB                        </a>
                </li>
                <li>
                    <a href="http://www.cs.unc.edu/~porter/pubs/tsai14graphene.pdf" target="_blank">
                        ORIGINAL WHITEPAPER                        </a>
                </li>
                <li>
                    <a href="https://www.usenix.org/conference/atc17/technical-sessions/presentation/tsai" target="_blank">
                        SGX WHITEPAPER                        </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="section-copyright col-12 col-lg-4 mt-5 mt-lg-0 row no-gutters align-content-end">
        <div class="col-12 mb-3"><img src="{{ '/static/img/graphene_logo.svg'|url }}" alt="Gramine" /></div>
        <div class="col-12">Copyright &copy; 2021 Gramine (previously Graphene)</div>

	<div class="col-12">&nbsp;</div>
	<div class="col-12">&nbsp;</div>

	<div><a href="https://fosshost.org/" target="_blank"><img src="{{ '/static/img/fosshost.org_Cloud_Dark.png'|url }}" alt="Fosshost" width="200" style="max-height:initial"></a></div>
        <div class="col-12">Supported by Fosshost</div>

    </div>
</div>
</div>
</div>
