{% extends "layout.html" %}
{% block title %}Maintainers &ndash; Gramine{% endblock %}
{% block body_class %}page-template-maintainers{% endblock %}
{% block body %}
    <div class="section section-title graphene-spacer-50 col-10 offset-1 col-xl-6 offset-xl-3 row no-gutters align-items-center">
        <div class="col-12 col-lg-10 offset-lg-1 row no-gutters">
            <div class="title graphene-blue col-12 col-lg-1">Who’s  behind it</div>
            <div class="description col-12 col-lg-9">
                <div>
                    Graphene started in 2011 as a research project at Stony
                    Brook University, led by Chia-Che Tsai and Don Porter,
                    contributed by many students and first released in 2014. In
                    2015, SGX support was developed in cooperation with Intel
                    Labs, along with the first Graphene release for SGX. Over
                    the subsequent years, multiple research and industrial users
                    have contributed to the project. In 2017, Golem, Invisible
                    Things Labs (ITL), and Intel began making significant
                    investments in the project.<br />
                    <br />
                    In 2018, the project adopted a formal working group and
                    project policies, in order to encourage and manage growth of the
                    community. The working group is guiding the process of making
                    Graphene production-ready, and setting a roadmap for future
                    development. The group is lead by a team from Golem and ITL;
                    Intel; and the original researchers (now at UNC Chapel Hill and
                    Texas A&M University).
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team graphene-spacer-100 col-10 offset-1 col-xl-6 offset-xl-3 row no-gutters">
        <div class="col-10 col-lg-9 offset-lg-1 title graphene-spacer-100 graphene-blue text-lg-right">&nbsp;<span class="typewriter graphene-hidden">THE Gramine WORKGROUP</span></div>
        <div class="col-2 col-lg-1 horizontal-line graphene-spacer-100 graphene-blue text-right"><span style="display: none"></span></div>
        <div class="team-members col-12 col-lg-10 offset-lg-1 row no-gutters">
            <div class="team-member col-6 col-md-4 col-lg-3 graphene-spacer-50">
                <a href="https://github.com/mkow" target="_blank">
                    <div class="image text-center"><img src="{{ 'mkow.jpg'|url }}" alt="Document" /></div>
                    <div class="details">
                        <div class="name">Michał  Kowalczyk</div>
                        <div class="position mt-2">ITL/Golem</div>
                    </div>
                </a>
            </div>
            <div class="team-member col-6 col-md-4 col-lg-3 graphene-spacer-50">
                <a href="https://www.linkedin.com/in/isakuyamahata/" target="_blank">
                    <div class="image text-center"><img src="{{ 'isaku.jpg'|url }}" alt="Document" /></div>
                    <div class="details">
                        <div class="name">Isaku Yamahata</div>
                        <div class="position mt-2">Intel</div>
                    </div>
                </a>
            </div>
            <div class="team-member col-6 col-md-4 col-lg-3 graphene-spacer-50">
                <a href="https://cs.unc.edu/~porter/" target="_blank">
                    <div class="image text-center"><img src="{{ 'porter-don-0922-edit-1-copy.png'|url }}" alt="Document" /></div>
                    <div class="details">
                        <div class="name">Don Porter</div>
                        <div class="position mt-2">UNC/Fortanix</div>
                    </div>
                </a>
            </div>
            <div class="team-member col-6 col-md-4 col-lg-3 graphene-spacer-50">
                <a href="https://www.chiachetsai.com/" target="_blank">
                    <div class="image text-center"><img src="{{ 'me.jpg'|url }}" alt="Document" /></div>
                    <div class="details">
                        <div class="name">Chia-Che Tsai</div>
                        <div class="position mt-2">Texas A&M University</div>
                    </div>
                </a>
            </div>
            <div class="team-member col-6 col-md-4 col-lg-3 graphene-spacer-50">
                <a href="https://dimakuv.github.io/" target="_blank">
                    <div class="image text-center"><img src="{{ 'Dmitrii_Kuvaiskii-2.jpg'|url }}" alt="Document" /></div>
                    <div class="details">
                        <div class="name">Dmitrii Kuvaiskii</div>
                        <div class="position mt-2">Intel</div>
                    </div>
                </a>
            </div>
            <div class="team-member col-6 col-md-4 col-lg-3 graphene-spacer-50">
                <a href="https://www.linkedin.com/in/mona-vij-626708/" target="_blank">
                    <div class="image text-center"><img src="{{ 'mona.jpg'|url }}" alt="Document" /></div>
                    <div class="details">
                        <div class="name">Mona Vij</div>
                        <div class="position mt-2">Intel</div>
                    </div>
                </a>
            </div>
            <div class="team-member col-6 col-md-4 col-lg-3 graphene-spacer-50">
                <a href="https://github.com/lukasz-glen" target="_blank">
                    <div class="image text-center"><img src="{{ '1_Z4TsNEp78ZvqyO-I0Cpfug.jpg'|url }}" alt="Document" /></div>
                    <div class="details">
                        <div class="name">Łukasz Gleń</div>
                        <div class="position mt-2">Golem</div>
                    </div>
                </a>
            </div>
            <div class="team-member col-6 col-md-4 col-lg-3 graphene-spacer-50">
                <a href="../maintainers/" target="_blank">
                    <div class="image text-center"><img src="{{ '/static/img/Group-4-Copy.jpg'|url }}" alt="Document" /></div>
                    <div class="details">
                        <div class="name">Borys Popławski</div>
                        <div class="position mt-2">ITL/Intel</div>
                    </div>
                </a>
            </div>
            <div class="team-member col-6 col-md-4 col-lg-3 graphene-spacer-50">
                <a href="../maintainers/" target="_blank">
                    <div class="image text-center"><img src="{{ '/static/img/Group-4-Copy.jpg'|url }}" alt="Document" /></div>
                    <div class="details">
                        <div class="name">Wojciech Porczyk</div>
                        <div class="position mt-2">ITL/Intel</div>
                    </div>
                </a>
            </div>
            <div class="team-member col-6 col-md-4 col-lg-3 graphene-spacer-50">
                <a href="../maintainers/" target="_blank">
                    <div class="image text-center"><img src="{{ '/static/img/Group-4-Copy.jpg'|url }}" alt="Document" /></div>
                    <div class="details">
                        <div class="name">Paweł Marczewski</div>
                        <div class="position mt-2">ITL/intel</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
