{% extends "layout.html" %}
{% block title %}Resources &ndash; Gramine{% endblock %}
{% block body_class %}page-template-resources{% endblock %}
{% block body %}
    <div class="section section-title col-10 offset-1 col-xl-6 offset-xl-3 row no-gutters align-items-center">
        <div class="title graphene-blue col-12 col-lg-8 offset-lg-1">CHECK THE GRAMINE RESOURCES</div>
    </div>
    <div class="section section-github col-10 graphene-spacer-100 offset-1 col-xl-6 offset-xl-3 row no-gutters align-items-center">
        <div class="image col-4 col-lg-5 offset-lg-1">
            <img src="{{ '/static/img/terminal-.svg'|url }}" alt="Github" class="d-none d-lg-inline">
            <img src="{{ '/static/img/github.svg'|url }}" alt="Github" class="d-lg-none" style="height: 80%;">
        </div>
        <div class="details col-7 offset-1 col-lg-3 offset-lg-1 row no-gutters">
            <div class="title col-12 mb-4">Github repository </div>
            <div class="description col-12 mb-5">Gramine / Graphene-SGX Library OS - a library OS for Linux multi-process applications, with Intel SGX support</div>
            <div class="link col-12 text-center text-md-left d-none d-md-block">
                <a href="https://github.com/gramineproject" target="_blank">
                    SEE THE GITHUB                            </a>
            </div>
        </div>
        <div class="link col-12 text-center d-md-none">
            <a href="https://github.com/gramineproject" target="_blank">
                SEE THE GITHUB                        </a>
        </div>
    </div>
    <div class="section section-the-basics col-10 offset-1 col-xl-6 offset-xl-3 row no-gutters">
        <div class="col-12 col-lg-10 offset-lg-1 row no-gutters">
            <div class="title graphene-spacer-50 col-12 text-md-center">The basics</div>
            <div class="document col-12 col-md-4 row no-gutters p-md-4 pt-4">
                <a href="http://www.cs.unc.edu/~porter/pubs/tsai14graphene.pdf" target="_blank" class="col-12 row no-gutters align-items-center">
                    <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/Group-333.svg'|url }}" alt="Document" /></div>
                    <div class="col-8 offset-1 col-md-12 offset-md-0">
                        <div class="title">Original Graphene Paper</div>
                        <div class="description">Cooperation and Security Isolation of Library OSes for Multi-Process Applications</div>
                    </div>
                </a>
            </div>
            <div class="document col-12 col-md-4 row no-gutters p-md-4 pt-4">
                <a href="https://www.usenix.org/conference/atc17/technical-sessions/presentation/tsai" target="_blank" class="col-12 row no-gutters align-items-center">
                    <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/Group-31.svg'|url }}" alt="Document" /></div>
                    <div class="col-8 offset-1 col-md-12 offset-md-0">
                        <div class="title">Graphene-SGX Paper</div>
                        <div class="description">Graphene-SGX: A Practical Library OS for Unmodified Applications on SGX</div>
                    </div>
                </a>
            </div>
            <div class="document col-12 col-md-4 row no-gutters p-md-4 pt-4">
                <a href="https://www.usenix.org/sites/default/files/conference/protected-files/atc17_slides_tsai.pdf" target="_blank" class="col-12 row no-gutters align-items-center">
                    <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/Group-33.svg'|url }}" alt="Document" /></div>
                    <div class="col-8 offset-1 col-md-12 offset-md-0">
                        <div class="title">Graphene-SGX USENIX presentation</div>
                        <div class="description">Cooperation and Security Isolation of Library OSes for Multi-Process Applications</div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="section section-publications col-10 offset-1 col-xl-6 offset-xl-3 row no-gutters">
        <div class="col-12 col-lg-10 offset-lg-1 row no-gutters">
            <div class="title graphene-spacer-50 col-12 text-md-center">Publications</div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="https://blog.invisiblethings.org/2018/06/11/graphene-ng.html" target="">
                    <div class="title">Introducing graphene-ng: running arbitrary payloads in SGX enclaves</div>
                    <div class="link">blog.invisiblethings.org</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="https://blog.golemproject.net/graphene-golem-intel-itl-and-founders-of-the-project-establish-a-working-group-towards-cutting-edge-technology-development/" target="">
                    <div class="title">Breakthrough in privacy and data integrity by Golem, Intel, ITL, UNC, and Texas A&M University</div>
                    <div class="link">blog.golemproject.net</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="https://medium.com/golem-project/graphene-ng-demo-devcon4-tees-sgx-actions-recap-a2f84704ad01" target="">
                    <div class="title">Graphene-ng demo + DEVCON4 TEEs/SGX actions recap</div>
                    <div class="link">blog.golemproject.net</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="https://www.zeroknowledge.fm/82" target="">
                    <div class="title">Zeroknowledge podcast on TEEs, SGX and the Graphene project with Likasz Glen and Chia-Che Tsai</div>
                    <div class="link">Zeroknowledge podcast</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="https://blog.golemproject.net/graphene-contributor-spotlight-by-golem-chia-che-tsai/" target="">
                    <div class="title">Graphene Contributor Spotlight by Golem: Chia-Che Tsai</div>
                    <div class="link">blog.golemproject.net</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="https://blog.golemproject.net/contributor-spotlight-mona-vij-intel-labs/" target="">
                    <div class="title">Contributor Spotlight - Mona Vij (Intel Labs)</div>
                    <div class="link">blog.golemproject.net</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="https://blog.golemproject.net/graphene-contributor-spotlight-isaku-yamahata/" target="_blank">
                    <div class="title">Graphene Contributor Spotlight: Isaku Yamahata and v1.0.1 release</div>
                    <div class="link">blog.golemproject.net</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="{{ 'CCS17-SGX-Tutorial.pdf'|url }}" target="_blank">
                    <div class="title">SGX Shielding Frameworks and Development Tools</div>
                    <div class="link">CCS17 SGX Tutorial</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="{{ 'OSS_EU18_LIBRARY_OS_TALK_CHIA_CHE_TSAI.pdf'|url }}" target="_blank">
                    <div class="title">Library OS is the NewContainer</div>
                    <div class="link">Linux Open Source Summit 2019</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="{{ 'Intel_SGX_Day_19_Graphene_Talk.pdf'|url }}" target="_blank">
                    <div class="title">Graphene v1.0: Toward A Reliable, Open-Source Library OS for SGX</div>
                    <div class="link">Intel SGX Day 2019</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="{{ 'wo-narration-lss2020-shielding-containers-in-cloud.pptx'|url }}" target="">
                    <div class="title">PPTX: Automatically Securing Linux Application Containers in Untrusted Clouds</div>
                    <div class="link">Linux Security Summit 2020</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="https://youtu.be/fAtmxW8H9nk" target="">
                    <div class="title">Video: Automatically Securing Linux Application Containers in Untrusted Clouds</div>
                    <div class="link">Linux Security Summit 2020</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="{{ 'DonPorter_sgx-day20.pptx'|url }}" target="">
                    <div class="title">PPTX: Graphene: A platform for unmodified Linux applications on SGX</div>
                    <div class="link">Intel SGX Community Day 2020</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="https://docs.microsoft.com/en-us/azure/confidential-computing/confidential-containers" target="_blank">
                    <div class="title">Azure Confidential Computing enables Graphene </div>
                    <div class="link">Microsoft Azure</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <a href="https://www.youtube.com/playlist?list=PL0pnQSBQ3CEj4ur0wI8oKEx0315VJthh_" target="">
                    <div class="title">Graphene Library OS Playlist</div>
                    <div class="link">Video: The Graphene SecDev'20 tutorial</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
